<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/global.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/modal.css}"/>
    
    <style type="text/css">
        a#logout{
            color: #fff;
            float: right;
        }
    </style>
  </head>
  <body>
    <header>
      <div id="titleBar">
        <a id="logout" th:href="@{/auth/logoff}">Sair</a>
      </div>
    </header>
    
    <div id="newTicketModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <div id="newParkingDeparture">
          <h1>Nova saída de veículo</h1>
          <hr />
          <form id="saveTicketForm" method="post" th:action="@{/ticket/save}" th:object="${parkingTicket}">
            <p>Motorista</p>
            <select th:field="*{driver}">
              <option th:each="driver : ${drivers}" th:text="${driver.name}" th:value="${driver.cpf}"></option>    
            </select>
            <p>Veículo</p>
            <select th:name="vehicle.registrationPlate">
              <option th:each="vehicle : ${vehicles}" th:text="${vehicle.vehicleInfo}" th:value="${vehicle.registrationPlate}"></option>    
            </select>
            <p>Quilometragem (km)</p>
            <input type="text" placeholder="quilometragem atual do veículo (somente números)" th:field="*{vehicleMileage}"/>
            
            <button type="button" id="saveTicket">Abrir</button>
          </form>
          
          <br /><br />
        </div>
      </div>
    </div>
    
    <div id="content">
      <div id="newTicket" th:if="${isGuardUser}">
        <div>
          <button id="newTicketBtn">
            <img th:src="@{/images/plus.svg}"/>
          </button>
        </div>
      </div>
    
      <div th:each="ticket : ${tickets}" class="parking-record" th:classappend="${ticket.ticketStatus}">
        <div class="ticket-id">
          <span th:text="${ticket.prettyPrintTicketId}"></span>
        </div>
        <div class="record-head">
          <div class="guard-info">
            <div class="guard-icon">
              <img src="../images/guard.png"/>
            </div>
            <div class="guard-name">
              <p th:text="${ticket.openedBy.name}"></p>
            </div>
            <div class="ticket-start time-content">
              <p th:text="${ticket.printDepartureTime}"></p>
            </div>
          </div>
          <br />
          <div class="driver-info">
            <div class="driver-icon">
              <img src="../images/driver.png"/>
            </div>
            <div class="driver-name">
              <p th:text="${ticket.driver.name}"></p>
            </div>
          </div>
        </div>
        <div class="record-body">
          <div class="ticket-content">
            <p th:text="${ticket.vehicleInfo}"></p>
            <p class="vehicle-mileage" th:text="${ticket.printVehicleMileage()}"></p>
            <br />
            <br />
            <p class="timer" th:if="${ticket.endAt == null}" th:attr="data-ticketstart=${ticket.startAt}"></p>

            <br/>
            <div th:if="${ticket.endAt != null}" class="time-content">
              <p th:text="${ticket.printEntranceTime}"></p>
              <p th:text="${ticket.ticketDuration}"></p>
              <p th:text="${ticket.driveDistance}"></p>
            </div>
          </div>
        </div>
        <div class="record-option" th:if="${ticket.endAt == null and isGuardUser}">
          <button class="close-ticket" title="finalizar registro" 
            th:attr="data-url=@{/ticket/close(ticketId=${ticket.id})}">
            <img th:src="@{/images/check.svg}"/>
          </button>
        </div>
      </div>
    </div>
    
    <script th:inline="javascript">
      const updateEndpoint = '[(@{/ticket/update/listener})]';
      setInterval(function(){
    	  checkForUpdates(updateEndpoint);
      }, 30000);
    
      const parkingRecords = document.querySelectorAll("div.openTicket");
      for (let i = 0; i < parkingRecords.length; i++){
    	  let timer = parkingRecords[i].querySelector("p.timer");
    	  
    	  const start = new Date(timer.dataset.ticketstart);      // the ticket start date
    	  
    	  setInterval(function(){
    		    let delta = Math.floor((Date.now() - start) / 1000);
    		    let ss = delta % 60;
    		    let mm = Math.floor(delta/60) % 60;
    		    let hh = Math.floor(delta/60/60);
    		    timer.textContent = 
    		    	((hh < 10) ? "0" + hh : hh) 
    		    	+ ":" + 
    		    	((mm < 10) ? "0" + mm : mm) 
    		    	+ ":" + 
    		    	((ss < 10) ? "0" + ss : ss);
    	  }, 1000);
      }
      
      
      const closeTicketBtns = document.querySelectorAll("button.close-ticket");
      for (let i = 0;i < closeTicketBtns.length; i++){
    	  closeTicketBtns[i].onclick = function(){
    		  closeTicket(this.dataset.url);
    	  }
      }
      
      
      const modal = document.querySelector("div#newTicketModal");
      const closeModal = document.querySelectorAll("span.close")[0];
      
      const btn = document.querySelector("#newTicketBtn");
      btn.onclick = function(){
    	  modal.style.display = "block";  
      }
      
      closeModal.onclick = function(){
    	  modal.style.display = "none";
      }
      
      window.onclick = function(event){
    	  if (event.target == modal)
    		  modal.style.display = "none";	  
      }
      
      const saveTicketForm = document.querySelector("form#saveTicketForm");
      const saveTicketBtn = document.querySelector("button#saveTicket");
      saveTicketBtn.onclick = function(){
  	    saveNewTicket(saveTicketForm);
  	  }
      
      const formInputs = saveTicketForm.querySelectorAll("input");
      for (let i = 0; i < formInputs.length; i++){
    	  formInputs[i].addEventListener("keydown", function(event){
    		  if (event.keyCode === 13 || event.which === 13) {
            event.preventDefault();
            saveNewTicket(saveTicketForm);
          }
    	  });
      }
      
      function saveNewTicket(ticketForm){
    	  let formData = new FormData(ticketForm);
    	  let httpRequest = new XMLHttpRequest();
    	  
    	  if (!httpRequest){
    		  alert('Giving up :( Cannot create an XMLHTTP instance');
  	      return false;
    	  }
    		
    	  httpRequest.onreadystatechange = function(){ticketResponse(httpRequest)};
    	  httpRequest.open(ticketForm.method, ticketForm.action);
    	  httpRequest.send(formData);
      }
      
      function ticketResponse(httpRequest){
        if (httpRequest.readyState === XMLHttpRequest.DONE) {
          if (httpRequest.status === 201) {
	        console.log("ticket criado");
	        location.reload();
	      } else if (httpRequest.status === 422) {
	    	alert(httpRequest.responseText);
	      } else {
  	        console.log('There was a problem with the request.');
  	      }
    	}
      }
      
      function closeTicket(url){
    	  let form = document.createElement("form");
    	  form.method = "POST";
    	  form.action = url;
    	  document.querySelector("body").append(form);
    	  
    	  form.submit();
      }
   
   function checkForUpdates(endpoint){
     
     let httpRequest = new XMLHttpRequest();
     
     httpRequest.onreadystatechange = function(){
       if (httpRequest.readyState === XMLHttpRequest.DONE){
         if (httpRequest.status === 200)
           location.reload();
       } 
     }
     
     httpRequest.open('GET', endpoint, true);
     httpRequest.send();
   }
    </script>
  </body>
</html> 


